.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border-width: 10px;
    border-color: black;
    border-style:solid;
  }

.container {
  height: 400px;
}

  