 .App {
  background-color: rgb(220, 222, 226);
}

.custom-tabs .nav-link {
  /*border: 1px solid #007bff; /* Change to your desired color */
  /* color: #007bff; */
  background-color: rgb(220, 222, 226);
}

.custom-tabs .nav-link.active {
  border-color: None; /* Border color for active tab */
  /* color: #28a745; */
  background-color: rgb(220, 222, 226);
}
/*.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */


.label-color {
  background-color: #f0c28e;
}

.menu-pointer {
  cursor: pointer;
}

.text-color {
  color: mediumblue !important;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
