 .App {
  background-color: rgb(220, 222, 226);
}

.custom-tabs .nav-link {
  /*border: 1px solid #007bff; /* Change to your desired color */
  /* color: #007bff; */
  background-color: rgb(220, 222, 226);
}

.custom-tabs .nav-link.active {
  border-color: None; /* Border color for active tab */
  /* color: #28a745; */
  background-color: rgb(220, 222, 226);
}

.label-color {
  background-color: #f0c28e;
}

.menu-pointer {
  cursor: pointer;
}

.text-color {
  color: mediumblue !important;
}

.user-img{
  width: 150px;
  height: 150px;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* overflow-x: hidden; */
}

/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
